html,
body {
    min-height: 100%;
    background-color: rgb(239, 236, 232);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 25px;
    font-weight: 800;
}

#description,
#legend {
    font-size: 18px;
}

#description {
    margin-bottom: 20px;
}

#tooltip {
    position: absolute;
    padding: 5px;
    background: rgba(186, 202, 192, 0.95);
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.6);
    border: 1px solid gray;
    border-radius: 4px;
}

svg {
    background-color: antiquewhite;
    color: black;
    font-size: 10px;
    text-align: center;
}

#canvas {
    width: 1000px;
    height: 600px;
}

.tile-text {
    cursor: default;
}

#legend {
    margin-top: 10px;
    width: 260px;
    height: 155px;
    background-color: rgb(225, 193, 152);
}